.barner {
  width: 100%; /* Make the image take full width */
  height: 300px; /* Maintain the aspect ratio */
}
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
h2,
h3,
p,
.page-number {
  color: white;
  font-family: "SUSE", sans-serif;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  margin: 30px;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
  /* font-family: "Fugaz One", cursive; */
}

.container-chara > p {
  font-size: 14px;
  font-weight: 250;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.container-chara {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  margin: 10px auto;
}
.character-box {
  flex: 0 0 calc(20% - 10px);
  margin-bottom: 20px;
  text-align: center;
  text-align: left;
}

.page-number {
  font-size: 16px;
  color: white;
  margin: 10px 0;
}
