body {
  background-color: rgb(0, 0, 0);
  font-family: "SUSE", sans-serif;
}

.container {
  width: 1204px;
  margin: 0 auto;
  padding: 20px;
}
h2,
span {
  font-family: "SUSE", sans-serif;
}
h2 {
  font-size: 28px;
}
